@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --yellow: rgb(250, 167, 181);
}

*{
    font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  /* text-transform: capitalize; */
  transition: all .2s linear;
}

*::selection {
  background: var(--yellow);
  color: greenyellow;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

html::-webkit-scrollbar {
    width: 1.4rem;

}
html::-webkit-scrollbar-track {
   background: pink;

}


html::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

body {
  background: rgb(243, 217, 236);
  overflow-x: hidden;
  padding-left: 35rem;
}
section{
    min-height: 100vh;padding: 1rem;
}
.btn{
    padding: .7rem 3rem;
    background: #8e4597;
    color:rgb(243, 228, 243);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}
.btn{
    padding: 5px 2rem;
    font-size: 2rem;
    font-size:19px;

}
.btn:hover{
    background: #ddaae4;
    color: #5d0b68;
}
.heading{
  text-align: center;
  margin: 0 6rem;
  font-size: 5rem;
  padding: 1rem;
  border-bottom: 0.1rem solid palevioletred;
  color: #5d0b68;
}
.heading span{
color: #b45bc0;

}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 35rem;
  background: #ebcee3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  text-decoration: none;
}

header .user img {
  height: 20rem;
  width: 20rem;
  border-radius:50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border:.7rem solid var(--yellow);
}

header .user .name {
  font-size: 3.5rem;
  color: rgb(193, 82, 207);

}

header .user .post {
  font-size: 2rem;
  color: rgb(221, 73, 221);

}
header .navbar{
    width: 100%;
}

header .navbar {
  list-style: none;
  padding: 1rem 3rem;
}
header .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a {
  display: block;
  padding: 1rem 2rem;
  margin: 1.5rem 0;
  background: #da99e2;
  color: rgb(134, 24, 134);
  font-size: 2rem;
  border-radius: 5rem;
  text-decoration: none;
}

header .navbar ul li a:hover {
  background: violet;
  color: white;
}

#menu {
 
  top:2rem;
  right: 2rem;
  background: rgb(255, 255, 255);
  color: rgb(201, 94, 186);
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  z-index: 1000;
  display: none;
position: fixed;
}

/* media queries */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .home{
    padding: 1rem 4rem;
  }
}

@media (max-width: 991px) {
  header {
    left: -120%;
  }

  #menu {
    display: block;
  }

  header.toggle {
    left: 0%;
  }
  body{
    padding: 0;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 400px) {
  header {
    width: 100vw;
  }
  .heading{
    margin: 0 3rem;
  }
  .about .row .counter .box{
    width: 100%;

  }
  .education .box-container .box{
    width: 100%;
  }
  .portfolio .box-container .box{
  width: 100%;

  }
  contact .row form{
    margin:3rem 0;

  }

}
.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}
.home h3{
    color:#da99e2;
    font-size: 5rem;
}
.home h1{
    color:#ba71c4;
    font-size: 2rem;
}
.home h2{
    color:#9649a0;
    font-size: 20px;
}
.home p{
    color:#b45bc0;
    font-size: 2rem;
    padding: 1rem 0;

}
.about .row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;

}
.about .row .info{
  flex: 1 1 48rem;
  padding: 2rem 1rem;
  padding-left: 6rem;

}
.about .row .info h3{
  font-size:25px;
  color: #580963;
  padding:1rem 0;
  font-weight: normal;

}
.about .row .info h3 span{
  font-size: 22px;
  color: #b935c5;
  padding: 1rem 0;
  font-weight: normal;

}
.about .row .counter{
  flex: 1 1 48rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.about .row .counter .box{
  width: 20rem;
  background:rgb(151, 61, 151);
  text-align: center;
  padding: 2rem;
  margin: 2rem;

}
.about .row .counter .box span{
  font-size: 4rem;
  color: #d9c4db;
}
.about .row .counter .box h3{
  font-size: 2rem;
  color: #4b0552;
}


.education .box-container{
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-wrap: wrap;
  padding: 5rem 0;
  padding-left: 3rem;


}
.education .box-container .box{
  width: 27rem;
  margin:4rem 1rem;
  padding-left: 4rem;
  border-left:0.2rem solid rgb(202, 112, 202);
  position: relative;

}
.education .box-container .box span{
  font-size:1.5rem;
  background:#944a9e;
  color:white;
  border-radius: 5rem;
  padding: 1rem 2.5rem;
}
.education .box-container .box  h3{
  font-size: 2.5rem;
  color: #ac69b4;
  padding-top: 1.5rem;

}
.education .box-container .box  p{
  font-size: 1.4rem;
  color: #b480bb;
  padding-top: 1rem 0;

}

.education .box-container .box i{
  position:absolute;
  top: -1.5rem;
  left: -2.5rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
   color: whitesmoke;
   background: #b45bc0;
}
.portfolio .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}
.portfolio .box-container .box{
  height: 20rem;
  width: 26rem;
  border-radius: 1rem;
  margin: 2rem;
  overflow: hidden;
  cursor: pointer;

}
.portfolio .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;

}
.portfolio .box-container .box:hover img{
  transform: scale(1.2);

}

.contact .row{
  display: flex;
  align-items: center;
justify-content: center;
flex-wrap: wrap;  
}
.contact .row .content{
  flex: 1 1 30rem;
  padding: 4rem;
  padding-bottom: 0;
}
.contact .row form{
  flex: 1 1 45rem;
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 4rem;
}
.contact .row form .box{
  padding:1.5rem;
  margin:1rem 0;
  background:rgb(228, 162, 228);
  color:purple;
  text-transform: none;
  font-size: 1.7rem;
  width: 100%;
  border-radius: 12px;

}
.contact .row form .message{
  height: 15rem;
  resize:none ;
  border-radius: 12px;
}

.contact .row .content .title{
  text-transform: uppercase;
  color: #5d0b68;
  font-size: 3rem;
  padding-bottom: 2rem;



}
.contact .row .content .info h3{
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: #8e4597;
  padding: 1rem 0;
font-weight: normal;
}
.contact .row .content .info h3 i{
  padding-right: 1rem;
  color: #580963;
}
.contact .row form .box ::placeholder{
  text-transform: capitalize;
}
.top{
  position: fixed;
  bottom: 7.5rem;
  right: 2rem;
  z-index:100;
  display: none;

}
footer .cent{
  margin: 2px;
  width: 100px;

  height: 12pxoi;
}